<!doctype html>
<html>

<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!---->
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
  <title>Meta Clothing | {{#if page.title}}{{{page.title}}}{{else}} Home {{/if}}</title>
</head>

<body>
  <header class="navbar navbar-default navbar-fixed-top topnav">
    <div class="heading navbar-header"><a class="navbar-brand" id="metaClothing" href="/">Meta Clothing</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/store">Store</a></li>
      <!-- if page.session show the logout else.. -->
      {{#if session}}    
      <li><a href="/editAddress">Edit Address</a></li>
      <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Create New Account</a></li>
      {{/if}}
      <li><a href="/checkout"><img src="img/cart.png" id="cart">Cart</a></li>
      <li id="cookieValue"><div id="cookieCart"><!-- {{cart}} --></div></li>
    </ul>
    </div>
  </header>
  <div id="bodyDiv">
    {{{body}}}
  </div>
  <script type="text/javascript" src="./app.js"></script>
</body>
</html>
